.background {
  background: center no-repeat url('https://github.com/Ekutz/ChromeReceiverTest/blob/master/background.png?raw=true');
}

.logo {
  background-image: url(https://github.com/Ekutz/ChromeReceiverTest/blob/master/logo.png?raw=true);
}

.progressBar {
  background-color: rgb(255, 0, 0);
}

.splash {
  background-image: url(splash.jpg);
}

.watermark {
  background-image: url(watermark.png);
  background-size: 57px 57px;
}
