.background {
  background: center no-repeat url('https://github.com/Ekutz/ChromeReceiverTest/blob/master/background.png');
}

.logo {
  background-image: url(https://raw.githubusercontent.com/Ekutz/ChromeReceiverTest/master/logo.png);
}

.progressBar {
  background-color: rgb(255, 0, 0);
}

.splash {
  background-image: url(https://github.com/Ekutz/ChromeReceiverTest/blob/master/splash.jpg);
}

.watermark {
  background-image: url("https://github.com/Ekutz/ChromeReceiverTest/blob/master/watermark.png");
  background-size: 57px 57px;
}
